.env
.env.*
!.env.example
!.env.production.example
.git
.phpunit.result.cache
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
vendor
