{$DOMAIN} {
	@backend path /api/* /sanctum/* /auth/*
	handle @backend {
		root * /var/www/html/public
		php_fastcgi app:9000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
